---
const {articleTitle, articleAuthor, articleDate} = Astro.props;
import BaseLayout from '../layouts/BaseLayout.astro';
const articleKeywords = articleTitle.split(" ").join(",");
---

<BaseLayout title={articleTitle} keywords={articleKeywords}>
    <div class="article__layout">
        <div class="article__layout-header">
            <h1 class="article__layout-header-title">{articleTitle}</h1>
            <div class="article__metadata-container">
                <div>Autor: {articleAuthor}</div>
                <div>Data publikacji: {articleDate}</div>
            </div>
        </div>
        <article class="article">
            <p><slot /></p>
        </article>
    </div>
</BaseLayout>

<style>
    .article__layout{
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }
    .article__layout-header{
        width: 94vw;
    }
    .article__layout-header-title{
        margin-left: 10px; color: rgb(40,40,40);
    }
    .article__metadata-container{
        display: flex; flex-direction: row; padding-left: 10px; gap: 50px; font-weight: 600;
    }
    .article{
        width: 90vw;
        line-height: 2.3rem;
        color: rgb(40,40,40);
        margin-top: 20px;
        font-size: 1.4rem;
    }

    @media screen and (max-width: 450px){
        .article{
            font-size: 1.1rem;
        }
    }

</style>